*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #191919;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 43px 0;
}

.header__list {
    display: flex;
    gap: 40px;
    font-size: 17px;
    line-height: 27px;
}

.header__list-item {
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.header__list-item:hover {
    color: #118DA8;
    transition: all .3s;
    border-bottom: 1px solid #118DA8;
}

.header__content {
    display: flex;
    gap: 60px;
    align-items: center;
}

.header__title {
    font-size: 70px;
    margin-top: 150px;
    margin-bottom: 90px;
    line-height: 88px;
    letter-spacing: 3.2px;
}

.header__text {
    max-width: 530px;
}

.level {
    font-size: 80px;
    font-weight: 700;
}

.next {
    font-size: 75px;
    background-image: url('/images/next.svg');
    background-repeat: no-repeat;
}

.header__links-title {
    font-size: 15px;
    margin-bottom: 16px;
}

.links {
    display: flex;
    gap: 17px;
}

.header__image {
    max-width: 100%;
    width: 100%;
}

.episodes {
    padding: 100px 0;
}

.episodes__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.episodes__title {
    letter-spacing: 2.88px;
    font-size: 64px;
}

.episodes__link {
    background-color: #118DA8;
    font-size: 17px;
    line-height: 27px;
    padding: 20px 12px 15px;
    border-radius: 8px;
}

.episod__item {
    background-color: #000000;
    max-width: 1300px;
    border-radius: 32px;
    padding: 40px;
    display: flex;
    margin-bottom: 60px;
}

.episod-img {
    margin-right: 53px;
    max-height: 465px;
    max-width: 100%;
}

.episod__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories {
    background-color: #191919;
    padding: 10px 16px;
    width: fit-content;
    border-radius: 6px;
    margin-top: 8px;
}

.episod__number {
    color: #118DA8;
    font-size: 17px;
}

.episode__title {
    font-size: 64px;
    letter-spacing: 2.56px;
    line-height: 70px;
    max-width: 700px;
    margin-bottom: 10px;
}

.episod__desc {
    opacity: 0.7;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 10px;
}

.episod__links {
    background-color: #118DA8;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 12px 15px;
    border-radius: 8px;
    max-width: 200px;
    transition: all .3s;
}

.jacob {
    padding: 100px 0;
}

.jacob__inner {
    display: flex;
    align-items: center;
    gap: 60px
}

.jacob__info {
    max-width: 590px;
}

.jacob__link img {
    margin-bottom: 20px;
}

.jacob__meet {
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 25px;
}

.jacob__name {
    font-size: 65px;
    letter-spacing: 2.88px;
    line-height: 79px;
    margin-bottom: 30px;
}

.jacob__text {
    opacity: .7;
    font-size: 22px;
    line-height: 33px;
}

.jacob__text+.jacob__text {
    margin-top: 33px;
}

.subscribe {
    padding: 100px 0;
}

.sub__inner {
    background-color: #000000;
    padding: 60px 60px 60px 75px;
    border-radius: 32px;
    display: flex;
    gap: 230px;
}

.sub__back {
    position: relative;
    top: 410px;
    right: 45px;
}

.sub__text {
    color: #118DA8;
    font-size: 18px;
    line-height: 27px;

}

.sub__title {
    font-size: 72px;
    letter-spacing: 2.88px;
    line-height: 79px;
    max-width: 430px;
}

.sub__form {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
}

.sub__input {
    display: block;
    width: 100%;
    font-size: 24px;
    padding: 25px 0 27px 20px;
    background-color: #191919;
    border-radius: 6px;
    border: none;
    color: #fff;
    opacity: .7;
}

.sub__input::placeholder {
    font-size: 24px;
}

.sub__input+.sub__input {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sub-btn {
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    background-color: #118DA8;
    padding: 19px 10px 15px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.review {
    padding: 100px 0;
}

.review__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.review__item {
    max-width: 420px;
    background-color: #000000;
    border-radius: 32px;
    padding: 50px 60px 50px 50px;
}

.review__item1 {
    max-width: 420px;
    background-color: #000000;
    border-radius: 32px;
    padding: 50px 60px 50px 50px;
}

.stars {
    width: 110px;
    margin-bottom: 20px;
}

.review__text {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
}

.review__name {
    font-size: 24px;
    line-height: 29px;
    opacity: .7;
}

.footer {
    padding: 50px 0 100px;
}

.footer__inner {
    display: flex;
}

.footer__item {
    left: 0;
    font-size: 18px;
    line-height: 27px;
}

.footer__logo {
    margin: 0 0 20px;
    margin-right: 300px;
}

.footer__links-item {
    width: fit-content;
    margin-bottom: 10px;
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.footer__links-item:hover {
    color: #118DA8;
    transition: all .3s;
    border-bottom: 1px solid #118DA8;
}


.footer__item-2 {
    margin-right: 120px;
}

.footer__item-3 {
    margin-right: 20px;
}

.menu-btn {
    display: none;
}

.menu-btn1 {
    display: none;
}

/* .menu {
    display: none;
} */

@media(max-width: 1130px) {

    .header__title,
    .next,
    .level {
        max-width: 400px;
        font-size: 54px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .jacob__info {
        max-width: 450px;
    }

    .jacob__img-item {
        width: 90%;
    }

    .review__item {
        padding: 30px;
    }

}

@media(max-width: 1000px) {
    .header__content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .links {
        justify-content: center;
    }

    .episod__text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .episode__title {
        font-size: 40px;
    }

    .episod__desc {
        font-size: 18px;
    }

    .categories {
        margin-top: 0;
    }

    .episod-img {
        margin: auto 0;
        margin-right: 20px;
        width: 50%;
    }

    .jacob__link img {
        width: 80px;
        height: 80px;
    }

    .jacob__name {
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 120%;
    }

    .jacob__text+.jacob__text {
        margin-top: 20px;
    }

    .jacob__info {
        max-width: 350px;
    }

    .jacob__inner {
        gap: 30px;
    }

    .sub__inner {
        gap: 100px;
    }

    .sub__title {
        font-size: 54px;
        line-height: 120%;
    }

    .review__text {
        font-size: 24px;
        line-height: 120%;
    }

    .review__name {
        font-size: 20px;
    }

    .footer__item-2 {
        margin-right: 0;
    }

    .footer__logo {
        margin-right: 0;
    }

    .footer__inner {
        justify-content: space-evenly
    }

    .footer__item-1 {
        max-width: 300px;
    }

    .footer .links {
        width: fit-content;
    }

    .footer__item-4 .links {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
}

@media(max-width: 850px) {
    .jacob__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .jacob__meet {
        margin-left: 20px;
    }

    .subscribe {
        padding: 0 0 50px;
    }

    .sub__inner {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .sub__back {
        top: 670px;
    }

    .review__inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 700px) {
    .menu-btn {
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: all .3s;
        z-index: 50;
    }

    .logo {
        position: relative;
        z-index: 50;
    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2) {
        top: 20px;
    }

    .btn-line:nth-child(3) {
        top: 20px;
    }

    .btn-line:nth-child(4) {
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1) {
        transform: scaleX(0);
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg);
        background-color: #118DA8;
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg);
        background-color: #118DA8;
    }

    .menu-open .btn-line:nth-child(4) {
        transform: scaleX(0);
    }

    .menu-open .header__list {
        transform: translateY(0);
    }

    .header__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #191919;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        transform: translateY(-100%);
        transition: all .3s;
        font-size: 30px;
    }

    .episodes__title {
        font-size: 50px;
    }

    .episod-img {
        display: none;
    }

    .jacob {
        padding-top: 50px;
    }

    .jacob__inner {
        flex-direction: column;
    }

    .jacob__info {
        max-width: 80%;
    }

    .jacob__img-item {
        width: 100%
    }
}

@media(max-width: 600px) {

    .episodes {
        padding: 60px 0;
    }

    .episodes__top {
        width: fit-content;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        margin-left: 20px;
    }

    .review__item,
    .review__item1 {
        padding: 20px;
    }

    .review__text {
        font-size: 20px;
    }

    .review__name {
        font-size: 18px;
    }

    .footer__inner {
        display: grid;
    }

    .footer__item-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer__item-2 {
        margin-right: 20px;
    }

    .footer__item-4 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .footer__item-4 .links {
        flex-direction: row;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media(max-width: 500px) {
    .episode__title {
        font-size: 30px;
        line-height: 130%;
    }

    .categories {
        margin-bottom: 15px;
    }

    .jacob__name {
        font-size: 40px;
    }

    .sub__inner {
        padding: 20px;
        gap: 40px;
    }

    .sub__title {
        font-size: 40px;
    }

    .sub__input {
        padding: 15px 0 15px 15px;
    }

    .sub__back {
        display: none;
    }

    .review {
        padding: 50px 0;
    }

}

@media(max-width: 400px) {
    .footer__item-3 {
        max-width: 100px;
    }

    .review__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}